In [1]:
from pathlib import Path
import csv
import pandas as pd

In [2]:
csvpath = Path("../Resources/budget_data.csv")
budget_data = pd.read_csv(csvpath)
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [3]:
budget_data.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [14]:
budget_data["Profit/Losses"]=budget_data["Profit/Losses"].astype(int)
budget_data.head()

                Date  Profit/Losses  Difference
Date
2010-01-01  Jan-2010         867884         NaN
2010-02-01  Feb-2010         984655    116771.0
2010-03-01  Mar-2010         322013   -662642.0
2010-04-01  Apr-2010         -69417   -391430.0
2010-05-01  May-2010         310503    379920.0

In [15]:
budget_data.dtypes

Date              object
Profit/Losses      int32
Difference       float64
dtype: object

In [16]:
budget_data.set_index(pd.to_datetime(budget_data["Date"], infer_datetime_format=True),inplace=True)
budget_data

                Date  Profit/Losses  Difference
Date
2010-01-01  Jan-2010         867884         NaN
2010-02-01  Feb-2010         984655    116771.0
2010-03-01  Mar-2010         322013   -662642.0
2010-04-01  Apr-2010         -69417   -391430.0
2010-05-01  May-2010         310503    379920.0
...              ...            ...         ...
2016-10-01  Oct-2016         102685   -665765.0
2016-11-01  Nov-2016         795914    693229.0
2016-12-01  Dec-2016          60988   -734926.0
2017-01-01  Jan-2017         138230     77242.0
2017-02-01  Feb-2017         671099    532869.0

[86 rows x 3 columns]

In [17]:
budget_data.drop(columns=["Date"])

            Profit/Losses  Difference
Date
2010-01-01         867884         NaN
2010-02-01         984655    116771.0
2010-03-01         322013   -662642.0
2010-04-01         -69417   -391430.0
2010-05-01         310503    379920.0
...                   ...         ...
2016-10-01         102685   -665765.0
2016-11-01         795914    693229.0
2016-12-01          60988   -734926.0
2017-01-01         138230     77242.0
2017-02-01         671099    532869.0

[86 rows x 2 columns]

In [10]:
budget_data['Difference'] = budget_data['Profit/Losses'] - budget_data['Profit/Losses'].shift(1)
budget_data

                Date  Profit/Losses  Difference
Date
2010-01-01  Jan-2010       867884.0         NaN
2010-02-01  Feb-2010       984655.0    116771.0
2010-03-01  Mar-2010       322013.0   -662642.0
2010-04-01  Apr-2010       -69417.0   -391430.0
2010-05-01  May-2010       310503.0    379920.0
...              ...            ...         ...
2016-10-01  Oct-2016       102685.0   -665765.0
2016-11-01  Nov-2016       795914.0    693229.0
2016-12-01  Dec-2016        60988.0   -734926.0
2017-01-01  Jan-2017       138230.0     77242.0
2017-02-01  Feb-2017       671099.0    532869.0

[86 rows x 3 columns]

In [28]:

budget_data['Difference'].mean()

-2315.1176470588234

In [24]:
budget_data['Difference'].max()

1170593

In [26]:
budget_data['Difference'].min()

-1196225

In [27]:
budget_data['Profit/Losses'].sum()

38382578

In [37]:
print("Total Months:") 
budget_data["Date"].count()

Total Months:

86

In [38]:
print("Total Profit:") 
budget_data["Profit/Losses"].sum()

Total Profit:

38382578

In [39]:
print("Average  Change:")
budget_data["Difference"].mean()

Average  Change:

-2315.1176470588234

In [40]:
print("Greatest Increase in Profits: ")
budget_data['Difference'].max()

Greatest Increase in Profits:

1926159.0

In [41]:
print("Greatest Decrease in Profits:")
budget_data['Difference'].min()

Greatest Decrease in Profits:

-2196167.0